<h1>Giriş Yap</h1>
<% if(typeof error !== 'undefined') { %>
    <div style="background-color: red; padding: 5px; color: aliceblue">
        <%= error %>
    </div>
<% } %>

<form action="/auth/login" method="post">
    <input type="text" name="username" placeholder="Kullanıcı Adı" value="<%= typeof formData !== 'undefined' ? formData.username : '' %>"> <br>
    <input type="password" name="password" placeholder="Parola"> <br>
    <button type="submit">Giriş</button>
</form>