<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title><%= title %></title>
</head>
<body>

<% if(session.username) { %>
    <h3>Hoşgeldin, <%= session.username %></h3>
    <a href="/auth/logout">Çıkış Yap</a>
<% } else { %>
    <h3><%= greeting %></h3>
    <a href="/auth/login">Giriş Yap</a>
    <a href="/auth/register">Kayıt Ol</a>
<% } %>
</body>
</html>